
@media all and (max-width : 840px) {
    .mainWrapper{
        width: 80%;
        flex-direction: column;
       align-items: center;
    }

    .rightSide{
        margin-left: 0;
        width: 100%;
    }

    .leftSide{
        margin-right: 0px;
        width: 100%;
    }

    .percentBox, .customPercent{
        flex-grow: 1;
    }

    .tipAmountSection div p, .totalAmountSection div p, .tipPerPerson, .tipTotal {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media all and (max-width : 650px) {
    .mainWrapper{
        width: 90%;
    }
}

@media all and (max-width : 500px) {
    .mainWrapper{
        width: 100%;
    }

    .percentBox, .customPercent{
        flex-grow: 1;
    }
}